body {
  color: #858487;
  background: #fff;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.container {
  max-width: 1370px;
}
.primary-color {
  color: #218850 !important;
}

.btn {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
  padding: 0.77em 1em;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
  border-radius: 30px;
  background: #218750;
}

.navbar-brand {

  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  width: 50px;
}

.header-logo {

  width: 41px;
  position: absolute;
  top: 12px;
  left: 30px;

}

.language-selector {
  padding: 5px 20px 5px 0px;
}
.language-selector > a{}
.language-selector > a > img{
  width: 30px;
}
.language-selector > a > svg{
  color : #000;
}
.language-selector .language-options{
  list-style: none;
  padding: 0;
  position: absolute;
  top: 35px;
}
.language-selector .language-options li{}
.language-selector .language-options li > a {}
.language-selector .language-options li > a > img{
  width: 30px;
}
.banner {
  position: relative;
  background-size: cover;
  background-image: url('//api.dzio.am/img/banner/0.jpg');
  background-repeat: no-repeat;
  background-position: 0 -110px;
}

@media (max-width: 1250px) {

  .banner {
    background-position: 0 0px;
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  background-color: #303030;
//background-image: linear-gradient(-45deg, transparent 25%, transparent 25%, transparent 75%, currentColor 75%, currentColor), linear-gradient(-45deg, currentColor 25%, transparent 25%, transparent 75%, transparent 75%, transparent);
}
.banner.inner-banner > .container{
  text-align: left;
  align-items: baseline;
}
.banner.inner-banner > .container .label-name{
  transform: skew(-10deg, 0);
  background-color: #FFF;
  color: #000;
  padding: 10px;
  display: block;
}

.inner-banner {
  &.additional {
    height: 60px;
    .container {
      position: initial;
      min-height: 0 !important;
    }
    .text-holder {
      padding: 20px 15px !important;
      position: absolute;
      min-width: 500px;
      bottom: -30px;
      transform: skew(-10deg, 0);
      background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(51, 51, 51), rgb(221, 24, 24)) repeat scroll 0% 0%;
    }
  }
}

.banner.inner-banner .container {
  min-height: 500px;
}

.inner-banner .container,
.banner .container {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
}
.banner .btn-holder {
  margin-top: 28px;
  font-size: 27px;
}
.banner .btn {

  transition: all .3s ease-in-out;
  background: #218850;
  border: 2px solid #218850;
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  border-radius: 0;
  margin: 0;
  font-size: 18px;

}
.banner .btn:hover,
.banner .btn:focus {
  background: #f6a800;
  border-color: #f6a800;
  color: #fff;
}
.banner.inner-banner time {
  display: block;
  font-size: 19px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.info-section {
  background-color: #f0f0f0;
}
.info-section .hippodrome-img {
  width: 100%;
  height: 130px;
  background-size: 150% 150%;
  background-position: 50% 50%;
}
.bg-section {
  background-image: url(https://www.equidia.fr/assets/img/table-bg.jpg);
  position: relative;
  padding: 50px 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.block-race-condition {
  margin: 0px auto 0;
  max-width: 100%;
  position: relative;
  padding: 20px;
  background-color: #FFF;
  width: 100%;
  color: #333;
  border-bottom: 2px solid #f6a800;
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.24);
}
.picto-meteo {
  position: absolute;
  top: -20px;
  right: 60px;
}
.picto-meteo img{
  width: 100px;
}
.bet-selector {
  position: relative;
  text-align: center;
}
.bet-selector img {
  width: 65px;
  margin: 0px 7px 20px;
}
.navbar .container {
  margin-top: 15px;
}
.navbar {}
.navbar.navbar-dark {}
.navbar.navbar-light {
  background-color: #fff;
  padding-bottom: 20px;
}
.navbar-nav{

}
.navbar-nav li.nav-item{
  margin: 0 15px;
}
.navbar-nav li.nav-item a.nav-link{
  text-transform: uppercase;
  font-size: 15px;
  color: #000;
  white-space: nowrap;
}
.navbar-nav.navbar-dark li.nav-item a.nav-link{
  color: #fff;
}

#today-container {
  background-image: url(https://jeux.loro.ch/static/images/react/images/Hub-Page-Header-@x2.min.png);
    height: 500px;
    width: 100%;
}

.navbar-nav li.nav-item a.nav-link.btn-skew:before, .navbar-nav li.nav-item a.nav-link.btn-skew:after {
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  bottom: 0;
  width: 20px;
  background: inherit;
  -webkit-transform: skew(-10deg, 0);
  -ms-transform: skew(-10deg, 0);
  transform: skew(-10deg, 0);
}
.navbar-nav li.nav-item a.nav-link.btn-skew:after {
  background: none;
  left: auto;
  right: -12px;
  bottom: 0px;
  border-right: 20px solid #218850;
}
.navbar-nav li.nav-item a.nav-link.btn-skew {
  background: #218850;
  color: #fff;
  border: 0;
  border-radius: 0;
  position: relative;
  margin: 0 12px;
}
.navbar-nav li.nav-item a.nav-link.btn-skew i {
  margin-left: 10px;
}
.navbar-nav li.nav-item a.nav-link.drop-opener {
  background: #f6a800;
  padding-top: 6px;
  padding-bottom: 7px;
}
.navbar-nav li.nav-item a.nav-link.drop-opener:after {
  border: none;
  bottom: 0;
}
.navbar-nav li.nav-item a.nav-link .text-minify{
  display: none;
}

.container-fluid {
  overflow: hidden;
}
#wrapper {
  margin: 68px 0 0 0;
  overflow: hidden;
}
#sidebar {
  background-color: #1d1e56;
  position: fixed;
  width: 230px;
  height: 100%;
  padding-top: 60px;
  left: 0;
}
#sidebar ul{
  list-style: none;
  padding: 0;
}
#sidebar ul li{
}
#sidebar ul li a{
  padding: 15px 30px;
  align-items: center;
  font-size: 14px;
  color: #ccc;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
#sidebar ul li i{
  font-size: 26px;
  float: left;
  width: 40px;
  margin-right: 18px;
}
#sidebar ul li a.active,
#sidebar ul li a:hover{
  transition: color .3s ease-in-out;
  background-color: #fff;
  color: #000;
}

#main {}
#main .bar-selector{
  background: #efefef;
  font-size: 14px;
  height: 56px;
}
#main .bar-selector .day-selector,
#main .bar-selector .meeting-selector,
#main .bar-selector .race-selector {
  float: left;
  position: relative;
}
#main .bar-selector .day-selector ul,
#main .bar-selector .meeting-selector ul,
#main .bar-selector .race-selector ul,
#main .bar-selector ul.calendar-selector{
  padding: 0;
  float: left;
  list-style: none;
  margin: 0;
}
#main .bar-selector .meeting-selector a.meeting-selected {
  display: inline-block;
  padding: 13px 0px 3px 30px;
  color: #000;
  vertical-align: super;
  margin-right: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 340px;
}
#main .bar-selector .meeting-selector .meeting-selected a img{
  margin-right: 10px;
}
#main .bar-selector .day-selector  ul li,
#main .bar-selector .race-selector ul li,
#main .bar-selector ul.calendar-selector li{
  display: inline;
}
#main .bar-selector .meeting-selector ul.meeting-selector-list {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 56px;
  height: 200px;
  background: #efefef;
  overflow: auto;
  border-top: 1px solid #c5c5c5;
}
#main .bar-selector .day-selector ul li a{
  display: inline-block;
  padding: 18px 30px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
#main .bar-selector .day-selector ul li a.active,
#main .bar-selector .race-selector ul li a.active,
#main .bar-selector .day-selector ul li a:hover,
#main .bar-selector .race-selector ul li a:hover{
  background-color: #218850;
  color: #fff;
}
#main .bar-selector ul.calendar-selector li a {
  padding: 7px 10px;
  text-align: center;
  font-size: 29px;
  width: 70px;
  display: inline-block;
}
#main .bar-selector ul.calendar-selector li a i{
  color: #000;
  font-size: 25px;
}
#main .bar-selector .react-calendar {
  z-index: 10;
  position: absolute;
  border: none;
  font-family: inherit;
}
#main .bar-selector .react-calendar__tile--active {
  background: #218750;
  color: white;
}
#main .react-calendar__navigation__prev2-button,
#main .react-calendar__navigation__next2-button {
  display: none;
}
#main .bar-selector .meeting-selector ul li a {
  display: inline-block;
  padding: 13px 30px 3px;
  color: #000;
  vertical-align: super;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  width: 400px;
}
#main .bar-selector .meeting-selected img,
#main .bar-selector .meeting-selector ul li a img{
  margin-right: 10px;
}
#main .bar-selector .race-selector {
  display: inline;
}
#main .bar-selector .race-selector ul {
  list-style: none;
}
#main .bar-selector .race-selector ul li {

}
#main .bar-selector .race-selector ul li a {
  display: inline-block;
  padding: 18px 20px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
#main .bar-selector .race-selector ul li a .widget__icon--quinte{
  position: absolute;
  width: 50px;
  bottom: -9px;
  right: -9px;
}

.title h1, .title h2, .title h3, .title h4, .title strong {
  background: #218750;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 14px 20px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}
.title {
  margin: 40px 0px;
}
.title-dsg {
  position: relative;
  display: inline-block;
  margin: 40px 0px;
}
/*
.title-dsg:before {
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  -webkit-transform: skew(10deg, 0);
  -ms-transform: skew(10deg, 0);
  transform: skew(10deg, 0);
  background: none;
  right: auto;
  left: -12px;
  bottom: 0px;
  border-right: 20px solid #218850;
}
*/
.title-dsg:after {
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  -webkit-transform: skew(10deg, 0);
  -ms-transform: skew(10deg, 0);
  transform: skew(10deg, 0);
  background: none;
  left: auto;
  right: -12px;
  bottom: 0px;
  border-right: 20px solid #218850;
}
.double-title {
  background: #f6a800;
  color: #fff;
}
.double-title .add-value {
  margin-left: 20px;
  font-size: 21px;
}
.double-title .add-value img {
  margin-right: 10px;
}
.title h3 {
  font-weight: bold;
}
.race-comment {
  padding-top: 30px;
  color: #333;
  text-align: justify;
}
.race-comment > p {
  text-align: justify;
  padding: 20px;
  background: #fff;
  border-bottom: 2px solid #f6a800;
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.24);
}
.prediction-top {}
.prediction-top .prediction-header {

  padding: 30px 15px;
  overflow: hidden;
  text-align: center;
  position: relative;
  /*background: linear-gradient(-70deg, transparent 25%, transparent 25%, transparent 80%, currentColor 75%, currentColor), linear-gradient(-45deg, currentColor 25%, transparent 25%, transparent 75%, transparent 75%, transparent);*/
  background-color: #BFBFBF;

}
.prediction-top .prediction-header ul{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
}
.prediction-top .prediction-header ul li{
  font-size: 24px;
  padding: 0 15px;
  position: relative;
}
.prediction-top .prediction-header ul li a {
  cursor: pointer;
}
.prediction-top .prediction-header ul.minimize li{
  font-size: 24px;
  padding: 0 6px;
  position: relative;
}
.prediction-top .prediction-header ul.minimize li a {

  width: 52px;
  height: 52px;

}
.prediction-top .prediction-header ul li.active:before {
  content: "";
  position: absolute;
  bottom: -46px;
  border-width: 13px !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}
.prediction-top .prediction-header ul li a {

  color: #1d1e56;
  background: #f5f5f5;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 19%;
  text-decoration: none;
  box-shadow: 2px 2px 6px 0px;

}

.prediction-top .prediction-header ul li.active a,
.prediction-top .prediction-header ul li a:hover {
  background: #218850;
  color: #fff;
}
.prediction-top .prediction-body {
  padding: 30px;
  background-color: #FFF;
  height: 371px;
}
.prediction-top .prediction-body h2{}
.prediction-top .prediction-body h2 a{
  color: #000;
}
.prediction-top .prediction-body p {
  font-size: 18px;
  padding: 10px 0;
}
.prediction-top .prediction-body .prediction-info{
  /*float: right;*/
}
.prediction-top .prediction-body .prediction-info .reporter{}
.predictions-container {
  background: #fff;
  margin-bottom: 20px;
}
.predictions-container .predictions {
  border-bottom: 1px solid #228650;
  display: table;
  width: 100%;
}
.predictions-container .predictions .reporter-key{
  float: left;
  padding: 14px 10px 8px 20px;
  margin: 0;
  font-size: 20px;
}
.predictions-container .predictions .reporter {
  float: left;
  line-height: 20px;
  color: #555;
  padding: 10px;
  font-size: 14px;
  margin: 0;
}
.predictions-container .predictions .reporter b{
  font-size: 16px;
}
.predictions-container .predictions ul{
  float: right;
  padding: 10px;
  margin: 0;
}
.predictions-container .predictions ul li{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #218750;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  color: #218750;
  margin-left: 5px;
}
.predictions-container .predictions ul li span{}
.runners-tab {
  background: #fff;
  padding: 0px 0px;
  margin: 0 0 20px 0;
  height: 500px;
  overflow-y: auto;
}
.table-striped {
  padding: 0;
}
.table-striped .runner {
  display: flex;
  position: relative;
  cursor: pointer;
}
.table-striped .runner > span{
  display: inline-block;
  padding: 10px 10px 2px;
}
.table-striped > div:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}
.runners-tab .runner-rank{
  width: 50px;
  text-align: center;
}
.runners-tab .runner-img{
  width: 50px;
  text-align: center;
}
.runners-tab .runner-img img{
  width: 100%;
}
.runners-tab .runner-name{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
}
.runners-tab .runner-name .do-not-run{
  color: red;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  margin-left: 20px;
  padding: 3px 7px;
  right: 5px;
  top: 26px;
}
.runners-tab .runner-name p{
  margin: 0;
  cursor: pointer;
  line-height: 10px;
}
.runners-tab .runner-name p:hover{
  color: #f6a800;
}
.runners-tab .runner-name span{
  font-size: 12px;
}
.runners-tab .runner-details .carousel-item{
  height: 255px;
  border-bottom: 4px solid #f6a800;
}
.runners-tab .runner-details .carousel-indicators{
  display: none;
}
.runners-tab .runner-details .carousel-caption {
  position: absolute;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #888;
}
.runners-tab .runner-details .carousel-caption h3 {
  font-size: 18px;
  padding: 4px;
  margin: 0;
  background: #f6a800;
  color: #fff;
}
.runners-tab .runner-details .carousel-caption ul {
  list-style: none;
  padding: 0px;
  text-align: left;
}
.runners-tab .runner-details .carousel-caption ul li{
  padding: 5px 20px;
  background: #FFF;
  font-size: 14px;
  border-bottom: 1px solid #e2e2e2;
  color: #000;
}
.runners-tab .runner-details .carousel-caption ul span.runner-detail-title{
  display: inline-block;
  width: 60%;
}
.runners-tab .runner-details .carousel-caption ul span.runner-detail-value{
  display: inline-block;
  width: 40%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.runners-tab .runner-details .carousel-caption ul span.runner-detail-value{}
.runners-tab .runner-details .carousel-control-prev-icon,
.runners-tab .runner-details .carousel-control-next-icon {
  height: 30px;
  width: 30px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.runners-tab .runner-details .carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  line-height: 23px;
}

.runners-tab .runner-details .carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  line-height: 23px;
}

.runners-tab .runner-details .carousel-control-prev,
.runners-tab .runner-details .carousel-control-next {
  position: absolute;
  top: 0;
  bottom: auto;
  display: -ms-flexbox;
  display: inherit;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
}
.card {
  display: inherit;
  border: none;
  background: #fff;
  color: #3c3948;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  text-align: center;
  padding: 24px 20px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.15;
  min-height: 304px;
  min-width: 221px;
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 3px #c6c6c8;
}

.card h3 {
  margin-bottom: 28px;
  font-weight: bold;
}

.card h6 {
  text-transform: none;
  margin-bottom: 21px;
  font-size: 15px;
  font-weight: normal;
}

.sub[_ngcontent-c33] {
  text-align: center;
  font-size: 75%;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

.card .value {
  width: 66px;
  height: 66px;
  background: #090a3a;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Saira", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 500;
  border-radius: 100%;
  margin-bottom: 16px;
}

.btn {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
  padding: 0.77em 1em;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
  border-radius: 30px;
  background: #218750;

}
.btn-info {
  background-color: #218750;
  margin-bottom: 10px;
  border-color: #218750;
}
.btn-info:hover {
  background: #218750;
  color: #fff;
}
.btn-primary {
  background: #f6a800;
  border-color: #f6a800;
  color: #fff;
  text-transform: uppercase;
}
.btn-access {
  border: 1px solid;
  width: 100%;
}
.btn-access:hover {
  color: #fff;
  border-color: #218750 !important;
  background-color: #218750 !important;
}
.btn.active {
  background: #f6a800 !important;
  border-color: #f6a800 !important;
  color: #fff;
  text-transform: uppercase;
}
.data-holder .btn-holder {
  margin-bottom: 45px;
}
.data-holder .btn-holder .btn {
  margin: 0 8px;
}

.data-holder .btn-holder .btn {
  min-width: 197px;
  text-transform: none;
}
.btn:hover, .btn:focus {
  background: #f6a800;
  border-color: #f6a800;
  color: #fff;
}

.adv-1 {
  margin: 40px 0 50px 0;
}

.result-table {
  color: #212232;
  overflow-x: auto;
  text-transform: uppercase;
  font-weight: 600;
  max-height: 475px;
  position: relative;
}
.result-table table {
  width: 100%;
  text-align: center;
}
.result-table th {
  background: none;
  padding: 0 0 10px;
}
.result-table .sort {
  background: #218750;
  color: #fff !important;
  display: block;
  font-weight: 300;
  padding: 20px 10px;
  cursor: pointer;
  position: relative;
}
.result-table .sort:hover, .result-table .sort.active {
  background: #f6a800;
}
.result-table th {
  background: none;
  padding: 0 0 10px;
}
.result-table .num-cell {
  font-family: "Saira", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.result-table .name-cell {
  text-align: left;
  position: relative;
  padding: 0 35px 0 60px;
}
.result-table .name-cell img {
  position: absolute;
  top: -3px;
  left: 12px;
}
.result-table .name-cell .text {
  font-weight: bold;
  font-size: 16px;
}

.result-table td {
  padding: 14px 5px;
  background: #fff;
}

.open-close .slide-opener {
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  display: block;
  background: #090a3a;
  color: #fff;
  font-weight: 500;
  padding: 21px 25px;
  position: relative;
  overflow: hidden;
  margin-bottom: 28px;
}
.open-close .slide-opener i {
  font-size: 22px;
  float: left;
  margin-right: 25px;
  margin-top: 6px;
}
.open-close .slide-block {
  display: block;
}
.d-md-block {
  display: block !important;
}
.tab-menu li.active {
  font-weight: bold;
}
.tab-menu a {
  text-align: center;
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
  display: block;
  color: #3c3948;
  padding: 0 10px 15px;
  border-bottom: 2px solid #bcbfc7;
}
.tab-menu li.active a {
  border-color: #f62741;
}
.tab-menu li {
  font-size: 14px;
  margin-bottom: 53px;
  width: 20%;
  display: inline-block;
  margin-right: 10px;
}
.tab-menu a {
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
  display: block;
  color: #3c3948;
  padding: 0 10px 15px;
  border-bottom: 2px solid #bcbfc7;
}
.tab-menu li.active a {
  border-color: #f62741;
}
.flex-md-nowrap[_ngcontent-c65] {
  overflow-x: scroll;
}
.post {
  border: 1px solid #ddd;
  margin: 0 0 20px;
  padding: 10px;
  overflow: visible;
  height: 510px;
  width: 100%;
}
.post .img-holder {
  color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  background-size: cover;
  min-height: 250px;
  width: 100%;
  margin-right: 0;
  margin-bottom: 15px;
  float: none;
}
.post .icon-CourseRef {
  position: absolute;
  font-size: 40px;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.post .icon-CourseRef {
  position: absolute;
  font-size: 40px;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.post .icon-CourseRef {
  font-size: 64px;
}
.post .img-holder .icon-img {
  position: absolute;
  bottom: 16px;
  left: 25px;
  display: none;
}
.post .text-holder {
  background: #fff;
  overflow: hidden;
  margin-bottom: -12px;
}
.post .text-holder {
  overflow: visible;
  padding: 15px 20px;
  margin-bottom: 0;
}
.post h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post .text-holder time, .post .text-holder .time {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
}
.post .text-holder .time i {
  margin-right: 7px;
}
.post .text-holder p {
  display: block;
  margin-bottom: 23px;
  height: 70px;
}
.post .info-list {
  margin: 0 -20px;
  min-height: 33px;
}
.info-list:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #97959d;
}
.info-list li {
  list-style: none;
}
.info-list li:last-child {
  float: right;
  padding-left: 0;
}

.data-holder table {
  display: table;
}
#how-to-bet .data-holder table td:first-child {
  border-right: none;
}
#how-to-bet tr:hover td:not(:last-child) {
  background: #f62741;
  color: #fff;
  cursor: pointer;
}
#how-to-bet .data-holder table {
  color: #1f2030;
  width: 100%;
}
#how-to-bet .data-holder table td a{
  margin: 5px 0 3px;

}
#how-to-bet .data-holder table td {
  border: solid #e0e1e2;
  border-width: 0 1px 2px 0;
  padding: 4px 7px;
}
#how-to-bet .data-holder .cost, .data-holder .text {
  display: block;
}

.widget, .widget:active, .widget:focus, .widget:hover, .widget:visited {
  color: #fff;
  text-decoration: none;
}

.nextQ5 {
  margin-top: 61px;
}
.widget__quinte {
  background-image: url(https://jeux.loro.ch/static/images/react/images/promos/quinte_promo_mobile.min.jpg);
  background-size: cover;
  -ms-flex-order: 0;
  order: 0;
}
.widget {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  position: relative;
  display: block;
  overflow: hidden;
}

.widget__sub-txt, .widget__top {
  z-index: 1;
  position: relative;
  margin-bottom: 15px;
}
.widget__sub-title {
  z-index: 1;
  position: relative;
  font-size: 1.125em;
  line-height: .8;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -.4px;
  margin: 0;
}
.widget__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.widget__link {
  font-size: .75em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -.3px;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  position: relative;
}
.widget__link-icon svg {
  width: 15px;
  height: 12px;
  fill: #fff;
  top: 0;
  left: 0;
}
.widget__icon--quinte {
  background-image: url(https://jeux.loro.ch/static/images/react/images/bet-types/quinte.min.svg);
  background-size: contain;
}

.widget__icon {
  width: 87px;
  height: 33px;
  background-repeat: no-repeat;
  display: inline-block;
}
.arrow--right {
  top: -5px;
  left: -5px;
  transform: rotate(180deg);
}


.results-section {
}
.results-section .results-selection-tab{
  background: #FFF;
  width: 100%;
}
.results-section .results-selection-tab tr{}
.results-section .results-selection-tab tr td.result-selector{
  text-align: center;
}
.results-section .results-selection-tab tr td.result-selector > a{
  display: block;
  padding: 20px;
}
.results-section .results-selection-tab tr td.result-selector.active{
  background: #218850;
}
.results-section .results-selection-tab tr td img{}
.results-section .results {
  width: 100%;
  background: #218850;
  color: #000;
}
.results-section .results tr{}
.results-section .results tr td{
  padding: 10px;
  color: #FFF;
  text-align: center;
  border: 1px solid;
}
.results-section .results tbody tr td{
  font-weight: bold;
}
.results-section .results thead .bet-logo{
  background: #00652e;
  text-align: left;
  padding-left: 30px;
}

/*
#calendar-result .banner.inner-banner .container {
  min-height: 300px;
  padding-bottom: 0px;
}

#calendar-result .banner {
  position: relative;
  background-size: cover;
  background-image: url('https://www.rp-assets.com/images/news/2018/01/31/36976-large.jpeg');
  background-repeat: no-repeat;
}
#calendar-result .banner .btn-holder {
  margin-top: 10px;
  font-size: 27px;
  margin-bottom: 15px;
}
*/
#calendar-result .btn-holder {
  text-align: center;
  padding: 40px 0px;
  margin: 0px;
}
#calendar-result .text-holder {
  border-radius: 6px;
  padding: 20px 40px;
}

#calendar-result .text-holder .h1, h1 {
  font-size: 1.8rem;
}

#calendar-result .data-holder .btn-holder {
  position: relative;
}
#calendar-result .filters {
  margin-top: 30px;
}
#calendar-result .filters .btn{
  margin: 0;
  padding: 0px;
  min-width: auto;
  border-radius: 0;
  width: 120px;
  background: #DDD;
  line-height: 14px;
  border: none;
  height: 38px;
}
#calendar-result .data-holder table td:first-child {
  border-right: none;
}

#calendar-result .data-holder table td:nth-child(4) {
  border-right: none;
}

#calendar-result .data-holder table td:last-child {
  border: none;
}

#calendar-result tr:hover td:not(:last-child) {
  background: #f6a800;
  color: #fff;
  cursor: pointer;
}
#calendar-result .widget__icon--quinte {
  margin-left: 20px;
  vertical-align: inherit;
}
#calendar-result .data-holder table {
  color: #1f2030;
  width: 100%;
}
#calendar-result .data-holder table td a{
  margin: 5px 0 3px;

}
#calendar-result .data-holder table td {
  border: solid #e0e1e2;
  border-width: 0 1px 2px 0;
  padding: 4px 7px;
}
#calendar-result .data-holder .cost, .data-holder .text {
  display: block;
}
#calendar-result .banner .btn-holder {
  text-align: initial;
  padding: initial;
  margin: initial;
  margin-top: 28px;
  font-size: 27px;
}
#calendar-result .banner .text-holder {
  border-radius: 0;
  padding: 0;
}
#calendar-result .calendar-row {
  border-bottom: 1px solid #bdbcbc;
  display: inline-block;
  width: 100%;
  float: left;
}
#calendar-result .calendar-name {
  float: left;
  height: 54px;
  padding: 10px;
  width: 50%;
  border-right: 1px solid #bdbcbc;
  display: inline-block;
  vertical-align: middle;
}
#calendar-result .calendar-time {
  float: left;
  height: 54px;
  padding: 10px;
  width: 15%;
  border-right: 1px solid #bdbcbc;
  display: inline-block;
  vertical-align: middle;
}
#calendar-result .calendar-runners {
  float: left;
  height: 54px;
  padding: 10px;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
#calendar-result .calendar-btn {
  float: left;
  height: 54px;
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}
#calendar-result .btn-access {
  border: 1px solid;
  width: 100%;
  margin-bottom: 0;
  margin-top: 5px;
}
#calendar-result .calendar-results .calendar-results-numbers{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: right !important;
  background-color: #228650;
}
#calendar-result .calendar-results .calendar-results-numbers span{
  color: #228650;
  width: 25px;
  display: inline-block;
  height: 25px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  font-size: 16px;
  margin: 5px;
}
#calendar-result .calendar-results .calendar-results-time{
  width: 15%;
  float: left;
  border-right: 1px solid #bdbcbc;
  height: 34px;
}

#how-to-bet {}
#how-to-bet .card{
  text-align: left;
  padding: 0;
  min-width: 0;
  box-shadow: none;
  min-height: 0;
  border: 1px solid #efefef;
  border-radius: 0;
  background: #fbfbfb;
}
#how-to-bet .card-body{}
#how-to-bet .card-body h4{
  font-size: 17px;
  font-weight: bold;
  padding: 20px 0px 0;
}
#how-to-bet .card-body p{
  padding: 8px 20px;
  font-size: 14px;
  line-height: 16px;
}
#how-to-bet .card-body a{
  color: #218750;
  font-weight: bold;
  line-height: 17px;
  padding: 20px;
  font-size: 13px;
}
#how-to-bet .card-body ul{
  list-style: none;
}
#how-to-bet .card-body ul li{
  margin-top: 20px;
}

.news-p {

  background: #fbfbfb;
}
.news-p .card{
  text-align: left;
  padding: 0;
  min-width: 0;
  margin-top: 20px;
  box-shadow: none;
  min-height: 0;
  border: 1px solid #efefef;
  border-radius: 0;
}
.news-p .card-header{
  padding: 0;
  border: 0;
}
.news-p .card-header img{
  width: 100%;
}
.news-p .card-body{
  padding: 10px 20px;
}
.news-p .card-body h4{
  font-size: 17px;
  font-weight: bold;
  padding: 10px 0 0;
  color: #218750;
}
.news-p .card-body i{
  text-align: right;
  display: block;
}
.news-p .card-body p{
  padding: 8px 0px;
  font-size: 14px;
  color: #565656;
  line-height: 16px;
}
.news-p .card-body a{
  color: #218750;
  font-weight: bold;
  line-height: 17px;
  padding: 20px;
  font-size: 13px;
}

a {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  color: inherit;
  text-decoration: none !important;
}


footer {
  margin: 20px 40px;
  font-size: 14px;
  color: #888;
}

.info-line-1 {
  height: 65px;
}

.results-section .results .bet-calibrate {
  color: #fff !important;
  margin-left: 20px;
  font-weight: bold;
}



@media (max-width: 1400px) {

  .results-section .results-selection-tab tr td.result-selector img{}
  .results-section .results-selection-tab tr td.result-selector {
    text-align: center;
    padding: 10px;
  }

  #main .bar-selector {
    font-size: 14px;
    height: 46px;
  }
  #main .bar-selector .day-selector ul li a {
    padding: 13px 15px;
  }
  #main .bar-selector .day-selector ul.calendar-selector li a {
    padding: 2px;
  }
  #main .bar-selector .meeting-selector ul li a {
    width: 300px;
    font-size: 14px;
    padding: 10px;
  }
  #main .bar-selector .meeting-selector ul li a img {
    margin-right: 10px;
    width: 40px;
  }
  #main .bar-selector .meeting-selector a.meeting-selected {
    padding: 8px 0px 3px 10px;
    width: 270px;
  }
  #main .bar-selector .meeting-selector ul.meeting-selector-list {
    left: 0;
    top: 46px;
    width: 400px;
  }
  #main .bar-selector .meeting-selector ul li a {
    font-size: 14px;
    padding: 10px 0px 10px 22px;
  }
  #main .bar-selector .race-selector ul li a {
    padding: 13px;
  }

  .previsions .previsions-header ul li {
    font-size: 24px;
    padding: 0 10px;
    position: relative;
  }
}
@media (max-width: 1100px){

  .results-section .results-selection-tab tr td.result-selector img{
    width: 70px;
  }
  .results-section .results-selection-tab tr td.result-selector {
    text-align: center;
    padding: 10px;
  }

  .previsions .previsions-header ul li a {
    color: #1d1e56;
    background: #f5f5f5;
    width: 50px;
    height: 50px;
  }
  #main .bar-selector {
    font-size: 14px;
    height: 46px;
  }
  #main .bar-selector .day-selector ul li a {
    padding: 13px 5px;
  }
  #main .bar-selector ul.calendar-selector li a i {
    color: #000;
    font-size: 20px;
  }
}
@media (max-width: 1200px) and (min-width: 992px){

  .navbar-nav li.nav-item {
    margin: 0 7px;
  }

  #main .bar-selector .day-selector ul li a {}
  #main .bar-selector .meeting-selector ul li a {}
  #main .bar-selector .race-selector ul li a {}
}

@media (max-width: 991px) {

  .runners-container {

  }
  .top-container {
    order: -1;
  }
  .nextQ5 {

  }
  .prono-container {
    order: -1;
  }

  .language-selector {
    padding: 5px 20px 5px 0px;
    position: fixed;
    top: 9px;
    right: 60px;
  }
  .nextQ5 {
    margin-top: 0;
  }
  .prediction-top .prediction-body {
    height: auto;
    min-height: 200px;
  }
  .results-section .results-selection-tab tr td.result-selector img{
    width: 50px;
  }
  .navbar.navbar-light {
    background-color: #fff;
    padding-bottom: 10px;
  }
  .navbar-nav {
    margin-top: 10px;
  }
  .navbar-nav li.nav-item a.nav-link {
    text-transform: uppercase;
    font-size: 15px;
    color: #000;
    padding: 10px;
    white-space: nowrap;
  }
  .navbar-nav li.nav-item a.nav-link.btn-skew i {
    display: none;
  }
  .navbar-nav li.nav-item a.nav-link.btn-skew {
    color: #000;
    background: none;
    margin: 0;
  }
  .navbar-nav li.nav-item a.nav-link:hover,
  .navbar-nav li.nav-item a.nav-link.btn-skew:hover {
    color: #fff;
    background-color: #218850;
  }
  .navbar-nav li.nav-item a.nav-link svg{
    display: none;
  }
  .navbar-nav li.nav-item a.nav-link .text-minify{
    display: inline;
  }
  .navbar-nav li.nav-item a.nav-link.btn-skew:before, .navbar-nav li.nav-item a.nav-link.btn-skew:after {
    content: none;
  }
  .navbar-nav.secondary {
    margin: 0;
  }
  .navbar-nav.secondary li.nav-item {
    margin: 0 15px !important;
  }
  #wrapper {
    margin: 58px 0 0 0;
  }

  #main .bar-selector {
    font-size: 14px;
    height: 144px;
  }
  #calendar-result #main .bar-selector {
    font-size: 14px;
    height: 47px;
  }
  #calendar-result .btn-holder {
    text-align: center;
    padding: 40px 0px 20px;
    margin: 0px;
  }
  #calendar-result .filters {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 20px;
  }
  #main .bar-selector .day-selector, #main .bar-selector .meeting-selector, #main .bar-selector .race-selector {
    float: none;
  }
  #main .bar-selector .race-selector ul
  #main .bar-selector .race-selector {
    float: none;
  }
  #main .bar-selector .day-selector {
    display: inline-block;
  }
  #main .bar-selector .day-selector ul li a {
    padding: 13px 16px;
  }
  #main .bar-selector .day-selector ul.calendar-selector li a {
    padding: 2px;
  }
  #main .bar-selector ul.calendar-selector li a i {
    color: #000;
    font-size: 20px;
  }

  #main .bar-selector .meeting-selector {
    height: 47px;
  }
  #main .bar-selector .meeting-selector a.meeting-selected {
    padding: 0px 0px 3px 10px;
    width: 100%;
  }
  #main .bar-selector .meeting-selector ul li a {
    width: 300px;
    font-size: 14px;
    padding: 11px;
  }
  #main .bar-selector .meeting-selector ul li a img {
    margin-right: 10px;
    width: 40px;
  }
  #main .bar-selector .meeting-selector ul.meeting-selector-list {
    left: 0;
    top: 42px;
    width: 100%;
  }
  #main .bar-selector .race-selector ul {
    float: none;
  }
  #main .bar-selector .race-selector ul li a {
    padding: 13px 10px;
  }

  #race-over .block-race-condition,
  #race-over .race-comment,
  #race-over .prediction-body.tab-content,
  #race-over .prediction-top .prediction-header ul li.active:before,
  #race-over .runners-container {
    display: none;
  }
  #main .bar-selector .race-selector ul li a .widget__icon--quinte {
    position: absolute;
    width: 41px;
    bottom: -12px;
    right: -9px;
  }
}
@media (max-width: 700px) {

  .data-holder .btn-holder .btn {
    min-width: 120px;
    text-transform: none;
  }

  #calendar-result .calendar-results .calendar-results-numbers span {
    width: 21px;
    height: 21px;
    font-size: 14px;
    margin: 3px 2px;
  }
  #calendar-result .calendar-results .calendar-results-time {
    width: 15%;
    float: left;
    border-right: 1px solid #bdbcbc;
    height: 27px;
  }
  #calendar-result .calendar-name {
    font-size: 14px;
    max-height: 54px;
    overflow: hidden;
  }
  #calendar-result .calendar-time {
    padding: 10px 5px;
    font-size: 14px;
  }
  #calendar-result .calendar-runners {
    padding: 10px 5px;
    font-size: 14px;
  }
  #calendar-result .btn-access {
    font-size: 12px;
    padding: 3px;
  }
}
@media (max-width: 500px) {

  .title h3 {
    font-weight: bold;
    font-size: 20px;
  }

  .inner-banner {
    &.additional {
      height: 60px;
      .container {
        position: initial;
        min-height: 0 !important;
      }
      .text-holder {
        padding: 20px 15px !important;
        position: absolute;
        min-width: 0;
        bottom: -30px;
        transform: none;
        background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(51, 51, 51), rgb(221, 24, 24)) repeat scroll 0% 0%;
      }
    }
  }

  #main .bar-selector .race-selector ul li a .widget__icon--quinte {
    position: absolute;
    width: 32px;
    bottom: -15px;
    right: -8px;
  }

  .double-title .add-value {
    margin-left: 6px;
    font-size: 21px;
  }
  .double-title .add-value img {
    margin-right: 0px;
    width: 40px;
    vertical-align: text-top;
  }

  .prediction-top .prediction-header ul li a {
    width: 40px;
    height: 40px;
  }
  .prediction-top .prediction-header ul.minimize li a {
    width: 30px;
    height: 30px;
  }
  .prediction-top .prediction-header ul li {
    font-size: 24px;
    padding: 0 6px;
  }
  .prediction-top .prediction-header ul.minimize li {
    font-size: 20px;
    padding: 0 4px;
  }
  .prediction-top .prediction-header {
    padding: 15px 15px;
  }
  .prediction-top .prediction-header ul li.active:before,
  .prediction-top .prediction-header  ul.minimize li.active:before {
    bottom: -31px;
  }
  .prediction-top .prediction-body {
    height: auto;
  }
  .prediction-top .prediction-body h2{
    font-size: 24px;
  }

  .results-section h3 {
    border: 1px solid #fff;
  }
  .results-section .results tr td {
    padding: 3px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    border: 1px solid;
  }

  .results-section .results .bet-logo a img {
    width: 75px;
  }

  .data-holder .btn-holder .btn {
    min-width: 80px;
    text-transform: none;
    font-size: 12px;
    width: 89px;
  }
  #calendar-result .data-holder table td {
    font-size: 13px;
  }

  .widget__icon {
    width: 60px;
    height: 26px;
  }

  #calendar-result .calendar-results .calendar-results-time {
    width: 15%;
    float: left;
    border-right: 1px solid #bdbcbc;
    height: 24px;
  }
  #calendar-result .calendar-results .calendar-results-numbers span {
    width: 15px;
    height: 15px;
    font-size: 11px;
    margin: 3px 2px;
  }

}

@media (max-width: 402px) {

  #main .bar-selector .day-selector ul li a {
    padding: 13px 10px;
  }
  #main .bar-selector ul.calendar-selector li a {
    width: 40px;
  }
}